* {
    margin: 0%;
    padding: 0%;
}
header {
    text-align: center;
    padding-top: 3%;
}
.container {
    padding-top: 5%;
}
img {
    height: 5%;
    width: 5%;
}
a {
    padding: 3%;
    text-align: right;
}